### Index
1. Uploading covid county population dataset and displaying the data
2. Uploading covid confirmed dataset and displaying the data
3. Uploading covid deaths dataset and displaying the data
4. Merging all the 3 datasets based on county FIPS and state.
5. Display of the super covid19 datafram after merging
6. Super covid 19 dataset preview and display of datatypes in each column

In [60]:
#importing pandas library
import pandas as pd

## Population DataSet Display

In [61]:
#reading the covid county population dataset
data_county_population=pd.read_csv("data/covid/covid_county_population_usafacts.csv")

#displaying the row X columns count
print("Total data",data_county_population.shape)

#displaying the number of column count with the list of the column name and the data type of the list
print("columns count and  list=>",len(data_county_population.columns),data_county_population.columns)

#displaying the initial 5 rows of the covid county population dataset
data_county_population.head()

Total data (3195, 4)
columns count and  list=> 4 Index(['countyFIPS', 'County Name', 'State', 'population'], dtype='object')

   countyFIPS            County Name State  population
0           0  Statewide Unallocated    AL           0
1        1001         Autauga County    AL       55869
2        1003         Baldwin County    AL      223234
3        1005         Barbour County    AL       24686
4        1007            Bibb County    AL       22394

## Covid Confirmed DataSet Display

In [62]:
#reading the covid confirmed dataset
data_covid_cases=pd.read_csv("data/covid/covid_confirmed_usafacts.csv")

#displaying the row X columns count
print("Total data",data_covid_cases.shape)

#displaying the number of column count with the list of the column name and the data type of the list
print("columns count and  list=>",len(data_covid_cases.columns),data_covid_cases.columns)

#displaying the initial 5 rows of the covid confirmed dataset
data_covid_cases.head(6)

Total data (3193, 1269)
columns count and  list=> 1269 Index(['countyFIPS', 'County Name', 'State', 'StateFIPS', '2020-01-22',
       '2020-01-23', '2020-01-24', '2020-01-25', '2020-01-26', '2020-01-27',
       ...
       '2023-07-14', '2023-07-15', '2023-07-16', '2023-07-17', '2023-07-18',
       '2023-07-19', '2023-07-20', '2023-07-21', '2023-07-22', '2023-07-23'],
      dtype='object', length=1269)

,countyFIPS,County Name,State,StateFIPS,2020-01-22,2020-01-23,2020-01-24,2020-01-25,2020-01-26,2020-01-27,...,2023-07-14,2023-07-15,2023-07-16,2023-07-17,2023-07-18,2023-07-19,2023-07-20,2023-07-21,2023-07-22,2023-07-23
0,0,Statewide Unallocated,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1001,Autauga County,AL,1,0,0,0,0,0,0,...,19913,19913,19913,19913,19913,19913,19913,19913,19913,19913
2,1003,Baldwin County,AL,1,0,0,0,0,0,0,...,70521,70521,70521,70521,70521,70521,70521,70521,70521,70521
3,1005,Barbour County,AL,1,0,0,0,0,0,0,...,7582,7582,7582,7582,7582,7582,7582,7582,7582,7582
4,1007,Bibb County,AL,1,0,0,0,0,0,0,...,8149,8149,8149,8149,8149,8149,8149,8149,8149,8149
5,1009,Blount County,AL,1,0,0,0,0,0,0,...,18872,18872,18872,18872,18872,18872,18872,18872,18872,18872

## Covid Deaths DataSet Display

In [63]:
#reading the covid deaths dataset
data_covid_deaths=pd.read_csv("data/covid/covid_deaths_usafacts.csv")

#displaying the row X columns count
print("Total data",data_covid_deaths.shape)

#displaying the number of column count with the list of the column name and the data type of the list
print("columns count and  list=>",len(data_covid_deaths.columns),data_covid_deaths.columns)

#displaying the initial 5 rows of the covid deaths dataset
data_covid_deaths.tail(5)

Total data (3193, 1269)
columns count and  list=> 1269 Index(['countyFIPS', 'County Name', 'State', 'StateFIPS', '2020-01-22',
       '2020-01-23', '2020-01-24', '2020-01-25', '2020-01-26', '2020-01-27',
       ...
       '2023-07-14', '2023-07-15', '2023-07-16', '2023-07-17', '2023-07-18',
       '2023-07-19', '2023-07-20', '2023-07-21', '2023-07-22', '2023-07-23'],
      dtype='object', length=1269)

,countyFIPS,County Name,State,StateFIPS,2020-01-22,2020-01-23,2020-01-24,2020-01-25,2020-01-26,2020-01-27,...,2023-07-14,2023-07-15,2023-07-16,2023-07-17,2023-07-18,2023-07-19,2023-07-20,2023-07-21,2023-07-22,2023-07-23
3188,56037,Sweetwater County,WY,56,0,0,0,0,0,0,...,142,142,142,142,142,142,142,142,142,142
3189,56039,Teton County,WY,56,0,0,0,0,0,0,...,16,16,16,16,16,16,16,16,16,16
3190,56041,Uinta County,WY,56,0,0,0,0,0,0,...,43,43,43,43,43,43,43,43,43,43
3191,56043,Washakie County,WY,56,0,0,0,0,0,0,...,51,51,51,51,51,51,51,51,51,51
3192,56045,Weston County,WY,56,0,0,0,0,0,0,...,24,24,24,24,24,24,24,24,24,24

In [64]:
all_df=[data_covid_deaths,data_covid_cases,data_county_population]

## Merging All the 3 Datasets Based On County-FIPS and State  To Create A Dataframe

In [65]:
#Merging all the covid deaths and covid confirmed data sets based on countyFIPS and State.
#Naming the columns of the covid deaths dataset with _deaths suffix and covid confirmed data sets with _cases suffix
merged_df = data_covid_deaths.merge(data_covid_cases, on = ("countyFIPS", "State"), suffixes = ("_deaths" , "_cases"))

In [66]:
#Merging all above merged_df dataset with covid county population dataset based on countyFIPS and State.
#Naming the columns of the covid county population dataset with the suffix _population
merged_df = merged_df.merge(data_county_population, on = ("countyFIPS", "State"), suffixes = ("","_population"))

In [67]:
#Displaying the initial 5 rows of the merged data set
merged_df.head(6)

,countyFIPS,County Name_deaths,State,StateFIPS_deaths,2020-01-22_deaths,2020-01-23_deaths,2020-01-24_deaths,2020-01-25_deaths,2020-01-26_deaths,2020-01-27_deaths,...,2023-07-16_cases,2023-07-17_cases,2023-07-18_cases,2023-07-19_cases,2023-07-20_cases,2023-07-21_cases,2023-07-22_cases,2023-07-23_cases,County Name,population
0,0,Statewide Unallocated,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,Statewide Unallocated,0
1,1001,Autauga County,AL,1,0,0,0,0,0,0,...,19913,19913,19913,19913,19913,19913,19913,19913,Autauga County,55869
2,1003,Baldwin County,AL,1,0,0,0,0,0,0,...,70521,70521,70521,70521,70521,70521,70521,70521,Baldwin County,223234
3,1005,Barbour County,AL,1,0,0,0,0,0,0,...,7582,7582,7582,7582,7582,7582,7582,7582,Barbour County,24686
4,1007,Bibb County,AL,1,0,0,0,0,0,0,...,8149,8149,8149,8149,8149,8149,8149,8149,Bibb County,22394
5,1009,Blount County,AL,1,0,0,0,0,0,0,...,18872,18872,18872,18872,18872,18872,18872,18872,Blount County,57826

In [68]:
#displaying the row X columns count of the merged_df
merged_df

,countyFIPS,County Name_deaths,State,StateFIPS_deaths,2020-01-22_deaths,2020-01-23_deaths,2020-01-24_deaths,2020-01-25_deaths,2020-01-26_deaths,2020-01-27_deaths,...,2023-07-16_cases,2023-07-17_cases,2023-07-18_cases,2023-07-19_cases,2023-07-20_cases,2023-07-21_cases,2023-07-22_cases,2023-07-23_cases,County Name,population
0,0,Statewide Unallocated,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,Statewide Unallocated,0
1,1001,Autauga County,AL,1,0,0,0,0,0,0,...,19913,19913,19913,19913,19913,19913,19913,19913,Autauga County,55869
2,1003,Baldwin County,AL,1,0,0,0,0,0,0,...,70521,70521,70521,70521,70521,70521,70521,70521,Baldwin County,223234
3,1005,Barbour County,AL,1,0,0,0,0,0,0,...,7582,7582,7582,7582,7582,7582,7582,7582,Barbour County,24686
4,1007,Bibb County,AL,1,0,0,0,0,0,0,...,8149,8149,8149,8149,8149,8149,8149,8149,Bibb County,22394
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3188,56037,Sweetwater County,WY,56,0,0,0,0,0,0,...,12645,12645,12645,12645,12645,12645,12645,12645,Sweetwater County,42343
3189,56039,Teton County,WY,56,0,0,0,0,0,0,...,12206,12206,12206,12206,12206,12206,12206,12206,Teton County,23464
3190,56041,Uinta County,WY,56,0,0,0,0,0,0,...,6468,6468,6468,6468,6468,6468,6468,6468,Uinta County,20226
3191,56043,Washakie County,WY,56,0,0,0,0,0,0,...,2640,2640,2640,2640,2640,2640,2640,2640,Washakie County,7805
3192,56045,Weston County,WY,56,0,0,0,0,0,0,...,1914,1914,1914,1914,1914,1914,1914,1914,Weston County,6927

## Exporting the Merged DataSet

In [70]:
merged_df.to_csv("super_covid19_dataframe.csv")

## Displaying the Super Covid19 Dataframe

In [71]:
#Display Initial 6 rows of the Super Covid19 (Merged) Dataset
merged_df.head(6)

,countyFIPS,County Name_deaths,State,StateFIPS_deaths,2020-01-22_deaths,2020-01-23_deaths,2020-01-24_deaths,2020-01-25_deaths,2020-01-26_deaths,2020-01-27_deaths,...,2023-07-16_cases,2023-07-17_cases,2023-07-18_cases,2023-07-19_cases,2023-07-20_cases,2023-07-21_cases,2023-07-22_cases,2023-07-23_cases,County Name,population
0,0,Statewide Unallocated,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,Statewide Unallocated,0
1,1001,Autauga County,AL,1,0,0,0,0,0,0,...,19913,19913,19913,19913,19913,19913,19913,19913,Autauga County,55869
2,1003,Baldwin County,AL,1,0,0,0,0,0,0,...,70521,70521,70521,70521,70521,70521,70521,70521,Baldwin County,223234
3,1005,Barbour County,AL,1,0,0,0,0,0,0,...,7582,7582,7582,7582,7582,7582,7582,7582,Barbour County,24686
4,1007,Bibb County,AL,1,0,0,0,0,0,0,...,8149,8149,8149,8149,8149,8149,8149,8149,Bibb County,22394
5,1009,Blount County,AL,1,0,0,0,0,0,0,...,18872,18872,18872,18872,18872,18872,18872,18872,Blount County,57826

In [72]:
#Display Last 6 rows of the Super Covid19 (Merged) Dataset
merged_df.tail(6)

,countyFIPS,County Name_deaths,State,StateFIPS_deaths,2020-01-22_deaths,2020-01-23_deaths,2020-01-24_deaths,2020-01-25_deaths,2020-01-26_deaths,2020-01-27_deaths,...,2023-07-16_cases,2023-07-17_cases,2023-07-18_cases,2023-07-19_cases,2023-07-20_cases,2023-07-21_cases,2023-07-22_cases,2023-07-23_cases,County Name,population
3187,56035,Sublette County,WY,56,0,0,0,0,0,0,...,2347,2347,2347,2347,2347,2347,2347,2347,Sublette County,9831
3188,56037,Sweetwater County,WY,56,0,0,0,0,0,0,...,12645,12645,12645,12645,12645,12645,12645,12645,Sweetwater County,42343
3189,56039,Teton County,WY,56,0,0,0,0,0,0,...,12206,12206,12206,12206,12206,12206,12206,12206,Teton County,23464
3190,56041,Uinta County,WY,56,0,0,0,0,0,0,...,6468,6468,6468,6468,6468,6468,6468,6468,Uinta County,20226
3191,56043,Washakie County,WY,56,0,0,0,0,0,0,...,2640,2640,2640,2640,2640,2640,2640,2640,Washakie County,7805
3192,56045,Weston County,WY,56,0,0,0,0,0,0,...,1914,1914,1914,1914,1914,1914,1914,1914,Weston County,6927

In [73]:
#Displaying the row X columns count
print("Total data",merged_df.shape)


#displaying the number of column count with the list of the column name and the data type of the list
print("columns count and  list=>",len(merged_df.columns),merged_df.columns)

Total data (3193, 2538)
columns count and  list=> 2538 Index(['countyFIPS', 'County Name_deaths', 'State', 'StateFIPS_deaths',
       '2020-01-22_deaths', '2020-01-23_deaths', '2020-01-24_deaths',
       '2020-01-25_deaths', '2020-01-26_deaths', '2020-01-27_deaths',
       ...
       '2023-07-16_cases', '2023-07-17_cases', '2023-07-18_cases',
       '2023-07-19_cases', '2023-07-20_cases', '2023-07-21_cases',
       '2023-07-22_cases', '2023-07-23_cases', 'County Name', 'population'],
      dtype='object', length=2538)

## Dataset Preview And Display Datatypes In Each Column

In [74]:
# Displaying the preview of the Super Covid-19(Merged) Dataset
print("Dataset view")
print(merged_df.head())

Dataset view
   countyFIPS     County Name_deaths State  StateFIPS_deaths  \
0           0  Statewide Unallocated    AL                 1
1        1001        Autauga County     AL                 1
2        1003        Baldwin County     AL                 1
3        1005        Barbour County     AL                 1
4        1007           Bibb County     AL                 1

   2020-01-22_deaths  2020-01-23_deaths  2020-01-24_deaths  2020-01-25_deaths  \
0                  0                  0                  0                  0
1                  0                  0                  0                  0
2                  0                  0                  0                  0
3                  0                  0                  0                  0
4                  0                  0                  0                  0

   2020-01-26_deaths  2020-01-27_deaths  ...  2023-07-16_cases  \
0                  0                  0  ...                 0
1                  0                  0  ...             19913
2                  0                  0  ...             70521
3                  0                  0  ...              7582
4                  0                  0  ...              8149

   2023-07-17_cases  2023-07-18_cases  2023-07-19_cases  2023-07-20_cases  \
0                 0                 0                 0                 0
1             19913             19913             19913             19913
2             70521             70521             70521             70521
3              7582              7582              7582              7582
4              8149              8149              8149              8149

   2023-07-21_cases  2023-07-22_cases  2023-07-23_cases  \
0                 0                 0                 0
1             19913             19913             19913
2             70521             70521             70521
3              7582              7582              7582
4              8149              8149              8149

             County Name  population
0  Statewide Unallocated           0
1         Autauga County       55869
2         Baldwin County      223234
3         Barbour County       24686
4            Bibb County       22394

[5 rows x 2538 columns]

In [75]:
#Display of all the types of data in all the columns of Super Covid-19 DataSet
print("Data Types of all columns:")
merged_df.dtypes

Data Types of all columns:

countyFIPS             int64
County Name_deaths    object
State                 object
StateFIPS_deaths       int64
2020-01-22_deaths      int64
                       ...
2023-07-21_cases       int64
2023-07-22_cases       int64
2023-07-23_cases       int64
County Name           object
population             int64
Length: 2538, dtype: object

In [76]:
final_df.dtypes.unique(),final_df.dtypes.nunique()

(array([dtype('int64'), dtype('O')], dtype=object), 2)